<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>服务器出错了...</title>
    <!-- Basic Favicon CSS -->
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/public/css/bs_backend_plugin.min.css">
    <link rel="stylesheet" href="/public/css/bs_backend.css">
    <link rel="stylesheet" href="/public/css/bs_template.css">
</head>

<body class=" ">
  <!-- loader Start -->
  <div id="loading">
    <div id="loading-center">
    </div>
  </div>
  <!-- loader END -->

  <div class="wrapper">
    <div class="container">
      <div class="row no-gutters height-self-center">
        <div class="col-sm-12 text-center align-self-center">
          <div class="iq-error position-relative">
            <img src="/public/images/error/500.png" class="img-fluid iq-error-img" alt="">
            <h2 class="mb-0">哦不, 这个页面无法工作.</h2>
            <p>服务器可能出现了点小问题.</p>
            <a class="btn btn-primary d-inline-flex align-items-center mt-3" href="index.html"><i
                class="ri-home-4-line"></i>回到主页</a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Backend Bundle JavaScript -->
  <script src="/public/js/bs_backend_bundle.min.js"></script>
  <!-- Table Treeview JavaScript -->
  <script src="/public/js/bs_treeview.js"></script>
  <!-- Chart Custom JavaScript -->
  <script src="/public/js/bs_customizer.js"></script>
  <!-- Chart Custom JavaScript -->
  <script async src="/public/js/bs_chart.js"></script>
  <!-- app JavaScript -->
  <script src="/public/js/bs_app.js"></script>
</body>

</html>